<div class="col-md-8">
  <h3>Add new question</h3>
  <form name="form" (ngSubmit)="f.form.valid && addQuestion()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !text.valid }">
      <label for="text">Question text*</label>
      <input type="text" class="form-control" name="text" id="text" [(ngModel)]="newQuestion.text" #text="ngModel" required />
      <div *ngIf="f.submitted && !text.valid" class="help-block">Question text is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && (!newQuestion.questionTypeId || newQuestion.questionTypeId < 1) }">
      <label for="questionType">Question type*</label>
      <select class="form-control" [(ngModel)]="newQuestion.questionTypeId" (ngModelChange)="changeType($event)" name="questionType" id="questionType" required>
        <option *ngFor="let type of questionTypes" [ngValue]="type.id">{{type.name}}</option>
      </select>
      <div *ngIf="f.submitted && (!newQuestion.questionTypeId || newQuestion.questionTypeId < 1)" class="help-block">Question type is required</div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">Save</button>
      <button type="button" [routerLink]="['/admin-panel/questions/', questionnaireId]" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</div>
